.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.services-format p {
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
    max-height: 120px; /* Set the height to show only part of the text */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show '...' for hidden text */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limits the number of lines to show */
    -webkit-box-orient: vertical;
    transition: max-height 0.3s ease;
}

.services-format.expanded p {
    max-height: none; /* Remove height limit when expanded */
    -webkit-line-clamp: unset; /* Show all lines when expanded */
}

.services-title{
    position: relative;
}
.services-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 60;
}
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: start; 
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}




.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-format h3{
    font-size: 28px;
    font-weight: 600;
}

.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #82a9fd, #C687FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.services-format:hover{
    border: 2px solid #ff00ff;
    background: linear-gradient(45deg, #3f0028 0.36%, #B923E1 102.06%);
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:768px){
    .services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }

    .services-title h1{
        font-size: 50px;
        padding: 0;
    }

    .services-title img{
        width: 130px;
        margin-right: -20px;
    }

    .services-format{
        gap: 20px;
        padding: 32px;


    }
    .services-format h2{
        font-size: 28px;
    }

    .services-format p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .services-readmore img{
        width: 20px;
    }

    .services-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

}